<div id="help">

<h1>Overview</h1>


<p>
The TRIUMF inventory system is designed to be efficient and intuitive.  
Most tasks are easy to accomplish, and do not require any specific training.  
Nevertheless, this section provides a series of guides showing how to accomplish common tasks.
</p>

<p>
Items in the system are organized into categories and subcategories which can easily be <a href="#browsing">browsed</a>. 
Items themselves are composed of <a href="#items_vs_types">item and type data</a>.  
After <a href="#logging_in">logging in</a> new items can be <a href="#adding_items">added</a> while 
existing items can be <a href="#editing_items">edited</a> or <a href="#moving_items">moved</a>.
The entire system can also be <a href="#searching">searched</a> and it can generate
<a href="#reports">reports</a> in a number of different formats.
</p>


<p>
For further assistance contact 
<%= link_to 'Konstantin Olchanski', :controller => 'frontend', :action => 'support' %> .
</p>


<p>
  <a href="#browsing">Browsing</a>

  <a href="#items_vs_types">Items vs types</a>

  <a href="#logging_in">Logging in</a>  

  <a href="#adding_items">Adding items</a>  

  <a href="#editing_items">Editing items</a>  

  <a href="#editing_types">Editing types</a>  
  
  <a href="#moving_items">Moving items</a>

  <a href="#data_field_selection">Data field selection</a>

  <a href="#searching">Searching</a>

  <a href="#reports">Reports</a>
</p>


<a name="browsing"></a>
<hr />
<br />
<h1>Browsing</h1>



<p>
Every item in the system is kept in a category, which may in turn be kept inside another category. 
In effect, these nested categories form a tree data structure, which can be navigated with the menu
on the left side of the screen.
</p>
<p><%= image_tag "help/browsing_one.png" %></p>
<p>
The currently open category will be depicted in <span style="color:#EEC208;">orange</span> and its 
contents will be shown in the content pane to the right.  If the category contains subcategories,
these subcategories will be shown at the top of the category display page.  If the category contains 
items these will be listed in a table.  Note that the table can be re-ordered by clicking on any
of the table headings.
</p>
<p><%= image_tag "help/browsing_two.png" %></p>
<p>Clicking on any item in the table will take you to the item details display page.</p>
<p><%= image_tag "help/browsing_three.png" %></p>



<a name="items_vs_types"></a>
<hr />
<br />
<h1>Items vs types</h1>



<p>It is important to understand that type data for a particular type (including image and documentation 
files) is stored only in one location, there is no duplication.  When several items belong to one type, 
they all share the same type information.  Consequently, changes to the type data of an item will be 
reflected in all items that belong to that type.</p>
<p><%= image_tag "help/items_vs_types_two.png" %></p>
<p>
Every item in the inventory system belongs to a type. The information describing an item is either stored
in the item itself, or in the type.
</p>
<ol>
<li>
Item data:  Information that is individual to each item. This includes unique information such as serial 
number, IP addresses, location and notes.  
</li>
<li>
</li>
Type data: Information that is common to all items of a particular type.  This includes shared information
such as the name of a type of item, the general description of a type of item and documentation / images for a particular
model of equipment.
</ol>
<p><%= image_tag "help/items_vs_types.png" %></p>



<a name="logging_in"></a>
<hr />
<br />
<h1>Logging in</h1>



<p>The system can be accessed by three types users: unauthenticated users, authenticated users and the root user.</p>
<ul>
<li>
Unauthenticated users: Can browse category listing pages and item detail pages but cannot make any changes.
</li>
<li>
Authenticated users: Can do everything that unauthenticated users can do but also have the ability to change category
listing page data field display preferences as well as to create, edit and move items.
</li>
<li>
Root user: Can do everything that authenticated users can do but also has access to the configuration console
to perform tasks such as backing up the database, administering users, categories and data fields, viewing logs and
modifying system setup.
</li>
</ul>
<h1>Login procedure</h1>
<p>
From any page in the system, press 'login' in the top right corner.
</p>
<p><%= image_tag "help/logging_in_one.png" %></p>
<p>
Enter your username and password. Press 'Login'. If your username and password are
valid then you will be redirected to a logged-in version of the page you are currently
on.  If your username and password are invalid then a red error message will appear.
</p>
<p><%= image_tag "help/logging_in_two.png" %></p>
<h1>Obtaining a username and password</h1>
<p>
<S>Two groups have access to the inventory system: persons with Secure Access IDs on 
admin.triumf.ca and </S>persons granted a special inventory system username and password.
All access is logged.
</p>
<h1><S>Secure Access IDs on admin.triumf.ca</S></h1>
<p>
<S>You may login to the inventory system with your secure access ID. These IDs can
be obtained <%= link_to('here', 'https://admin.triumf.ca/d2w-sec/internalid/apply', {:target => 'new_window' }) %>
or by contacting <%= mail_to 'mailto:glenn@triumf.ca', 'Glenn Jones' %> (phone 7437).</S>
</p>
<h1>Inventory system username and password</h1>
<p>
<S>If you are unable to obtain a secure access ID you may </S>ask <%= link_to 'Konstantin Olchanski', :controller => 'frontend', :action => 'support' %>
for an inventory system username and password.
</p>


<a name="adding_items"></a>
<hr />
<br />
<h1>Adding items</h1>



<p>
From any category listing page click on 'new item'.
</p>
<p><%= image_tag "help/adding_items_one.png" %></p>
<p>
The only fields that must be filled in are 'Category' and 'Type name'.  They may be pre-selected 
depending on where you clicked 'new item'. Select a category and enter a type name.  When you begin to
enter a type name, the system will attempt to auto-complete your input with the name of a type that
is already in the system.  Possible matches will appear in a dropdown menu after you have started typing.
If the system finds a type that matches what you have begun to enter in the field, simply click on the 
type the system finds and go on to the next step.  If the system does not find a matching type then finish
entering the name of the type.
<p>
<p><%= image_tag "help/adding_items_two.png" %></p>
<p>
Fill in any of the remaining fields that you want, and select a status from the drop-down menu (optional). 
Press create. 
</p>
<p><%= image_tag "help/adding_items_three.png" %></p>
<p>
Your item has now been created.  If you selected a pre-existing type,
you will be redirected to the category that your item ends up in.  If you entered a new type then you
will be redirected to the item's details page, where you will have the opportunity to enter type information.
</p>



<a name="editing_items"></a>
<hr />
<br />
<h1>Editing items</h1>



<p>
An item can be edited from the item details page.  All changes are performed 
in-place, meaning that when you press 'ok' after changing a field or you select an 
option from a drop-down menu, your change is immediately saved 
(no page reload necessary).
</p>
<h1>Editing an item data field</h1>
<p>
To edit an item data field, click on the data field editor (above the line to 
the left of the pencil icon).  The data field will tint yellow and give you a text
field in which you may enter a new value.  When you are finished editing the text, 
click on 'ok' to save your changes or on 'cancel' to discard them.
</p>
<p><%= image_tag "help/editing_items_field.png" %></p>
<h1>Adding notes to an item</h1>
<p>
Notes may be attached to any item in the system.  A note contains a date, 
the name of the user who posted it and a field of text.  Notes are meant to 
contain miscellaneous information such as an item's repair history.
</p>
<p><%= image_tag "help/editing_items_note.png" %></p>



<a name="editing_types"></a>
<hr />
<br />
<h1>Editing types</h1>



<p>
A type can be edited from the item details page of any item that belongs to the type.  
</p>
<h1>Editing a type data field</h1>
<p>
Same procedure as <a href="#editing_items">editing an item data field</a>.
</p>
<h1>Uploading images</h1>
<p>
You may upload an image from your local hard drive. The inventory system will save the image you upload
and it will associate it with the type of the item that you currently have open. 
</p>
<p><%= image_tag "help/editing_types_upload.png" %></p>
<h1>Grabbing images</h1>
<p>
You may 'grab' an image from the world wide web via HTTP or FTP.  This will instruct the inventory system
to download the image from the location you specify, save it locally and associate it with
the type of the item that you currently have open. 
</p>
<p><%= image_tag "help/editing_types_grab.png" %></p>
<h1>Uploading / grabbing documentation</h1>
<p>
You may upload or grab documentation that will become associated with a type. The procedures are the
same as with images, except that documentation is not restricted to the file formats PNG JPEG and GIF.
</p>



<a name="moving_items"></a>
<hr />
<br />
<h1>Moving items</h1>



<p>
Items can easily be moved from one category to another.  
Such a move does not change an item or its type, it simply moves 
the entire item with all its images, documentation, notes and
history to the destination category.
</p>
<h1>Moving items from the category listing page</h1>
<p>Select the check boxes next to the items you wish to move. Select a destination
category and click 'move'.
</p>
<p><%= image_tag "help/moving_items_from_list.png" %></p>
<h1>Moving items from the item details page </h1>
<p>
Select the destination category from the drop down menu. The item will instantly
be moved to the destination category. No further action is necessary.
</p>
<p><%= image_tag "help/moving_items_from_show.png" %></p>



<a name="data_field_selection"></a>
<hr />
<br />
<h1>Data field selection</h1>



<p>
You may choose which data fields will be shown on a particular category listing page by clicking on 
'Open data field selection'.  The data field selection editor will appear and you can mark the check 
boxes next to data fields that you wish to have displayed before pressing 'Save'.  These settings
will apply to all users of the system.
</p>
<p><%= image_tag "help/data_field_selection.png" %></p>



<a name="searching"></a>
<hr />
<br />
<h1>Searching</h1>



<p>Searches are performed against all the data fields in the items (including their types).  
If any items in the system contain the exact text that you search for, then those 
items will appear in your search results.</p>
<p><%= image_tag "help/searching.png" %></p>



<a name="reports"></a>
<hr />
<br />
<h1>Reports</h1>



<p>
To generate a report, simply select a report generator script and click on the button corresponding to the
output format that you require. 
</p>
<p><%= image_tag "help/reports.png" %></p>
<p>
Reports are generated by custom report generator scripts.
</p>



</div>