
	<%
	content = model.send(attribute)
	model_name = model.class.to_s.downcase
	unless (content == nil) and session[:user] == nil
	%>
	
		<% 
		if section and @separator_shown[section] == false
		  if @first_separator == true
		    @first_separator = false
		  else
		%>
		  <tr>
		    <td colspan="2">
		      <hr />
		    </td>
		  </tr>
		<% 
		  end
		  @separator_shown[section] = true 
		end 
		%>
	
  <tr>
    <td class="attribute_name"<%= 'id="po"' if (model_name == 'item' and attribute == 'po_number') %>>
      <% if model_name == 'item' and attribute == 'po_number'%>
        <%= render :partial => 'po' , :locals => { :po => content }%>
      <% else -%>
        <%= h(attribute.humanize).gsub(" ","&nbsp;") -%>:
      <% end -%>
    </td>
    
    
    
    <td class="attribute_content">
      <% if attribute == 'created_on' || attribute == 'updated_on' %>
        <%= content.my_iso8601 if  content %> 
      <% else %>
        <div<%= " class=\"attribute_content_div\" id=\"item_#{attribute}\"" if session[:user] %>><%= h(content) %></div>
        <% if session[:user] %>
          <% url = url_for(:action => 'update', :id => params[:id], :model => model_name, :attribute => attribute ) %>
		        <script type="text/javascript">
		        //<![CDATA[
          <% if model_name == 'item' and attribute == 'status' %>
          <% 
            status_options = Item.load_status_options(true)
            status_options = status_options.collect{|o| "'" + o + "'"}.join(',')
          %>
						new Ajax.InPlaceCollectionEditor(
						  'item_<%= attribute %>', '<%= url %>', {
						  collection: [<%= status_options %>],
						  value: '<%= model.status %>',
						  ajaxOptions: {}
						});      
		      <% else %>
		      <%
		      update_script = ''
		      update_script = update_show('title') if (model_name == 'kind' and attribute == 'name')
		      update_script = update_show('po') if (model_name == 'item' and attribute == 'po_number')		      
		      %>
		        new Ajax.InPlaceEditor('item_<%= attribute %>', '<%= url %>', {onComplete:function(){close_history();<%= update_script %>},onFailure:function(transport) {alert('Error: ' + transport.responseText.stripTags());}})
		      <% end %>
		        //]]>
		        </script>  
        <% end %>
      <% end %>
    </td>
  </tr>
	<% 
	end
	%>