<% 
if @history_items.length == 0 
%>
This item currently has no history

<% else %>
	<table class="grey_table" cellspacing="0" id="history_table">
	  <tr>
	    <th><b>Date</b></th>
	    <th><b>User</b></th>
	    <th><b>Field</b></th>
	    <th><b>Old</b></th>
	    <th><b>New</b></th>
	  </tr>
	  <% for item in @history_items %>
		  <tr>
		    <td>
		    <%= item.created_on.my_iso8601_short %>
				</td>
				
		    <td>
		    <%=
		    if item.user
		      item.user.user_name
		    else
		      'user deleted'
		    end
		    
		    %>
				</td>
				
		    <td>
		    <%= item.field %>
				</td>
				
		    <td>
		    <%= item.old_value %>
				</td>
		    <td>
		    <%= item.new_value %>
				</td>
			
		  </tr>
	  <% end %>
	</table>
<% 
end 
%>