<% if @items.size > 0 %>
	<%= form_tag({},{:id=>'ids_selection_form'})  if session[:user] and !params[:text] %>
	<table class="log" id="list_table">
	  <tr id="list_table_header">
	    <% if session[:user]  and !params['text'] %><th width="20px"></th><% end %>
	    <th><%= dirswitch('type') %></th>
			<%
			@columns_to_render.each {|colname|%><th class="sortable"><%= dirswitch(colname) %></th><%}
			%>
	  </tr> 
	<%= 
	render(:partial => 'list_element', :collection => @items) 
	%>
	</table>
<% end %>