
<tr<%= ' class="retired"' if list_element.status == 'retired' %>>
<% if session[:user] and !params['text'] -%>
  <td><%= check_box_tag("ids[#{list_element.id}]") -%></td><% end -%>
  <td><%= link_to(h(list_element.kind.name), :action => 'show', :id => list_element.id) %></td><%
  cols = Item.content_columns_text
  @columns_to_render.each do |colname| 
 -%>
 <% if cols.include?(colname) -%>

  <td><%= 
  if colname == 'created_on' || colname == 'updated_on'
    list_element.send(colname).my_iso8601_short unless list_element.send(colname) == nil
  elsif colname =~ /price/
    number_to_currency(list_element.send(colname))
  else
    h(list_element.send(colname))
  end
  -%></td><% end -%>
<% end -%>

</tr>