<%= 
# MUST BE CALLED WITH THE FOLLOWING LOCALS:
# current_link_type - 'open' or 'close'
# action_name - i.e. new_item
# link_text - i.e. 'Create new item'


cc = ' class="current"' if current_link_type == 'close'
"<li id=\"#{action_name}_launcher\"#{cc}>" + link_to_remote(link_text, { :url => {:action => 'list_menu_open_configbox', :action_name => action_name, :link_text => link_text, :current_link_type => current_link_type } }) + '</li>'
%>