		<div id="new_item_content" class="tab_content" style="display:none">
			<div class="configbox">
				<div id="configbox_errors"></div>
        <div style="clear:both;"></div>	
				<%= form_remote_tag({:html => {:id => 'new_item_form'}, :url => { :action => 'new', :category => cat }, :loading => "Form.disable('new_item_form');Element.show('new_item_busy');", :complete => "Form.enable('new_item_form');Element.hide('new_item_busy');" } ) %>
				Type: 
				<%= 
				value = nil
				value = @item.kind.name if @item
				text_field_with_auto_complete(:item, :kind, {:value => value}) 
				%> 
				<%= submit_tag('create')%>
				<%= image_tag('progress.gif', :id => 'new_item_busy', :style => 'display:none') %>
				<%= end_form_tag %>
			</div>
		</div>