<br />
<table id="notes_table" class="grey_table" cellspacing="0">
  <tr>
    <th><b>Date</b></th>
    <th><b>User</b></th>
    <th><b>Note</b></th>
    <% if session[:user] and  Settings.allow_note_deletion.to_i == 1 %> 
    <th><b>Delete</b></th>
    <% end %>
  </tr>
  
  <%= render :partial => 'note', :collection => notes%>
  <% if session[:user] %>
  <tr id="new_note">
  <td colspan="4">
  <hr />
      <%= button_to_function 'New note', "Element.hide('note_creator_launcher');Element.show('note_creator')", {:id => 'note_creator_launcher' } %>

	  <div id="notes_error"></div>
	  <div id="note_creator" style="display:none">
	  <%= form_remote_tag(:html => {:id => 'notes_form'}, :url => {:action => 'notes', :do => 'create', :id=> params[:id]}, :loading => "Form.disable('notes_form');Element.show('notes_busy');") %>
	  <%= text_area_tag('note[message]', nil) %>
    <br />
	  <%= 
	  @note = Note.new
	  date_select('note', 'created_on') 
	  %>
	  <%= submit_tag("create") %>
	  <%= button_to_function("cancel", "Element.update('notes_error','');Element.hide('note_creator');Element.show('note_creator_launcher')") %>
	  <%= image_tag('progress.gif', :id => 'notes_busy', :style => 'display:none') %>
	  <%= end_form_tag %>
	  </div>
  </td>
  </tr>
  <% end %>
</table>
<br />