  <tr id="note_<%= note.id %>">
    <td>
		<%= note.created_on.my_iso8601_short %>
		</td>
		<td>
		<%= 
		if note.user
		  note.user.user_name 
		else
		  'user deleted'
		end
		%>
		</td>
		<td>
		<%= note.message %>
		</td>
    <% if session[:user] and Settings.allow_note_deletion.to_i == 1 %> 
    <td>
		<%= link_to_remote( image_tag('destroy.png'), :url =>{ :action => 'notes', :do => 'delete', :id => note.id }, :confirm => 'Are you sure you want to delete this note?')%>
		</td>
		<% end %>
  </tr>