<tr id="l<%= recently_modified_row.id %>" class="list_element">
<td>
<%= link_to h(recently_modified_row.kind.name), :action => 'show', :id => recently_modified_row.id %>
</td>
<td>
<%= 
recently_modified_row.updated_on.my_iso8601_short if recently_modified_row.updated_on
%>
</td>
</tr>
