<% if session[:user] -%>
<% if flash['upload_notice_'+attachment_type] %>
	<div id="notice"><%= flash['upload_notice_'+attachment_type] %></div>
		<div style="clear:both;"></div>

<% end %>
<div class="upload_form">
<div class="cssform">
<%= start_form_tag({:action => :upload, :id => @kind.id },{:multipart => TRUE, :id => "#{attachment_type}_upload_form", :onSubmit => "Element.show('busy_upload_#{attachment_type}');Element.hide('submit_upload_#{attachment_type}');"}) %>
<label for="upload" id="upload">Upload file</label>
<%= file_column_field "attachment", attachment_type %>
<input name="commit" type="submit" value="upload" id="submit_upload_<%= attachment_type %>" />
<%= image_tag('progress.gif', :id => "busy_upload_#{attachment_type}", :style => 'display:none') %>
<br />
 



<%= end_form_tag %>

<%= form_remote_tag({:html => {:id => "#{attachment_type}_grab_form"}, :update => 'upload_'+attachment_type, :url => {:action => :grab, :id => @kind.id }, :loading => "Element.show('busy_#{attachment_type}');Form.disable('#{attachment_type}_grab_form');", :loaded => "Element.hide('busy_#{attachment_type}');Form.enable('#{attachment_type}_grab_form');"}) %>
<label for="grab" id="upload">http or ftp</label>
<%= text_field_tag("#{attachment_type}") %>
<%= submit_tag 'grab' %>
<%= image_tag('progress.gif', :id => "busy_#{attachment_type}", :style => 'display:none') %>
<br />
<%= end_form_tag %>
</div>
</div>

<br />
<% end %>

<%= doclist(@kind, session[:user]) if attachment_type == 'documentation' %>
<%= images_edit_list(@kind) if attachment_type == 'image' %>

