
	
	
<%= 
#item_list is also used in search results!
render :partial => 'item_list' 
%>
	
	
	
	
	
<% if @items.size > 0 %>	
	<% if flash[:batch_notice] %>
	<br />
	<div id="notice"><%= flash[:batch_notice] %></div>
	<% end %>
	<br />
	<div style="clear:both;"></div>


<div class="table_menu">

	<% if session[:user] %>
		<div id="table_menu_bottom_left">
			<div id="arrow">
				<%= image_tag('arrow.png')%>
				<%= link_to_function('select all', "checkAll(Form.getElements('ids_selection_form'))") %>
				<%= link_to_function('deselect all', "uncheckAll(Form.getElements('ids_selection_form'))") %> 
			</div>
			<div>
			  <div>
				<% @item = @items[0] %>
				<%= category_dropdown %>
				<%= submit_to_remote_batch('move', 'move', 'move these items') %> 
			  </div>
			
			

				<div>
				<%= dropdown('field',Item.content_columns_without_stamps_or_status, nil,false,false) %> 
				<%= text_field_tag 'new_value', nil, {:size => 10} %>
				<%= submit_to_remote_batch('update item field', 'update', 'update the specified field with the specified value on these items') %>
				</div>
				
				<div>
				<%= 
				text_field_with_auto_complete(:item, :kind, {:value => ''}) 
				%>
				<%= submit_to_remote_batch('change type', 'change_type', 'change these items\' types') %>
				</div>
			
			

				<div>
				quantity: &nbsp; 
				<%= text_field_tag 'number_of_clones', 1, {:size => 2, :maxlength => 2} %> &nbsp; 
				<%= submit_to_remote_batch('clone these items', 'clone', 'clone these items') %> 
				</div>
			
			

				<div>
				<%
				status_options = Item.load_status_options(true)
				%>
				<%= dropdown('item[status]',status_options, @item.status,false,false) %> 
				<%= submit_to_remote_batch('change status', 'change', 'change the status of these items') %>
			  </div>
			
			
				<% if Settings.allow_item_deletion.to_i == 1 %>
				<div>
				<%= submit_to_remote_batch('delete', 'delete', 'delete these items') %>
				</div>
				<% end %>
			</div>
		</div>
	<% end %>
	<% if Settings.allow_pagination.to_i == 1 %>
	<div class="table_menu_right">
	<%= pagination_links(@item_pages,{ :params => {:action => :list, :id => params[:id], :order => params['order'], :dir => params['dir']} },nil) unless params['text'] %>
	</div>
	<% end %>
	<div style="clear:both;"></div>
</div>
<%= end_form_tag %>
<% 
end 
%>
