<div class="greybox">
<h2>Select type name</h2>
<br />
<%= form_remote_tag( :url => {:action => 'change_type', :id => params[:id] }, :update => 'type_information_wrapper', :complete => 'close_history();'+update_show('title') ) %>
<%= text_field_with_auto_complete(:item, :kind, { :value => @item.kind.name, :size => 25}) %>

  
<%= submit_tag('update')%>
<%= link_to_remote('Cancel', {:url => {:action=>'show_type', :id => params[:id]}, :update => 'type_information_wrapper'}) if session[:user] %>
	
 <%= end_form_tag %>

</div>
