<div class="home_left">
    <h1><%= Settings.home_title %></h1>
<p>
This system keeps track of TRIUMF Data Acquisition Group and Electronics Lab equipment.
</p>    

<p>
To learn more about the system, consult the <%= link_to 'help documentation', :controller=>"help" %>.  
</p>

<p>
If you need a username and password, please contact 
<%= link_to 'Konstantin Olchanski', :action => 'support' %>.
</p>


<br />

<h1>System statistics</h1>
<p>
Files: <%= @number_of_files %> total, <%= @number_of_image_files %> images, <%= @number_of_documentation_files %> documentation files
<br />
Items: <%= @number_of_items %> total, <%= @number_of_retired_items %> retired, <%= @number_of_non_retired_items%> non-retired
<br />
Categories: <%= @number_of_categories %>
<br />
Users: <%= @number_of_users %>
</p>

<% if request.env['HTTP_USER_AGENT'].downcase =~ /msie/ %>
<div id="bug_report_notification">
	<table>
		<tr>
			<td>
			<%= link_to(image_tag('firefox.gif'), "http://www.mozilla.com/firefox/", {:target => 'new_window' }) %>
			</td>
			<td>
			It is strongly recommended that you use a standards-compliant browser such as 
			<%= link_to('Firefox', "http://www.mozilla.com/firefox/", {:target => 'new_window' }) -%>.
			Using Microsoft Internet Explorer may cause this system to fail.
                        </td>
	  </tr>
	</table>
</div>
<% end %>

</div>


<div class="home_right">
	<div class="rbroundbox">
		<div class="rbtop">
			<div></div>
		</div>
	  <div class="rbcontent">
		   <h2>Recently modified  <%= link_to(image_tag('rss'), {:action => :rss})%></h2>
		   <br />
		   <table align="center" width="100%">
		   <%= render :partial => 'recently_modified_row', :collection => @items %>
		   </table>
		  
	  </div>
		<div class="rbbot">
		  <div></div>
		</div>
	</div>
</div>


