<% content_for('extra_stylesheets') do %>
<%= stylesheet_link_tag 'list', :media => 'all' %>
<% end %>
<% content_for('extra_javascripts') do %>
	<%= javascript_include_tag 'check_and_menu' %>
<% end %>


<%
sublist = @current_category.get_subcategories.collect!{|category| link_path(category.full_name) + " (#{category.items.size}) <br /> \n"}
if !sublist.empty? %>
  <%= sublist %>
	<br />  	
<% end %>


<% unless params['text'] %>
	<div id="header">
	<%
	menu = Array.new
	if session[:user]
		menu << "\n" + '<li id="new_item">' + link_to_function('New item', "open_tab('new_item')") + "</li>\n"
		if @items.size > 0
      menu << "\n" + '<li id="data_field">' + link_to_function('Data fields', "open_tab('data_field')") + "</li>\n"
	  end
	end
	  menu << "\n" + '<li id="display_settings">' + link_to_function('Display settings', "open_tab('display_settings')") + "</li>\n"
	  menu << "\n" + '<li id="go_to_new_table">' + link_to('Go to new table', { :action => 'back_to_new_table', :id => params[:id] }) + "</li>\n"
	%> 
		<ul>
<%= 
	output = String.new
	menu.each{ |menu_item| output += menu_item }
	output
%> 
		</ul>
		
		
	<% if @items.size > 0 and Settings.allow_pagination.to_i == 1 %>
	<div class="table_menu_right">
	<%= dropdown('per_page',['10','50','100','200','300','500','700','1000','10000'],session['per_page'],false,true,nil, true)  %>
	</div>
	<% end %>
		
	</div>
	
	<%  if session[:user] %>
    <%= render :partial => 'new_item_content', :locals => { :cat => params[:id] } %>
		<% if @items.size > 0 %>
		<div id="data_field_content" class="tab_content" style="display:none">
			<div class="configbox">
  <div class="section_wrapper">
  <div class="section_header">Displayed</div>
	<div id="displayed" class="section">
    <% for column in @displayed_cols %>
    <div id="field_<%= column %>" class="field">
    <%= column.humanize %> 
    </div>
    <% end %>
	</div>
	</div>
			
	
  <div class="section_wrapper">
  <div class="section_header">Hidden</div>
	<div id="hidden" class="section">
    <% for column in @hidden_cols %>
    <div id="field_<%= column %>" class="field">
    <%= column.humanize %> 
    </div>
    <% end %>
	</div>
	</div>


	<script type="text/javascript">
		// <![CDATA[
		Sortable.create('hidden',{tag:'div',constraint:false,dropOnEmpty:true, containment:['hidden','displayed']});
		Sortable.create('displayed',{tag:'div',constraint:false,dropOnEmpty:true, containment:['hidden','displayed']});
		// ]]>
	 </script>
			
<div style="clear:both;"></div>				
	<hr />	
	
	
	  <% form_url = url_for(:action => :save_preferences, :id => params[:id]) %>
	  <form action="<%= form_url %>" id="data_field_form" method="post" onsubmit="new Ajax.Request('<%= form_url %>', {asynchronous:true, evalScripts:true, onComplete:function(request){Form.enable('data_field_form');Element.hide('data_field_busy');}, onLoading:function(request){Form.disable('data_field_form');Element.show('data_field_busy');}, parameters:serialize_sortables()}); return false;">
	  <%= submit_tag('Save') %>
    <%= image_tag('progress.gif', :id => 'data_field_busy', :style => 'display:none') %>
    <%= end_form_tag %>
			</div>
		</div>
	<% end %>	
	<% end %>
	
		<div id="display_settings_content" class="tab_content" style="display:none">
			<div class="configbox">
				<%= form_remote_tag({:html => {:id => 'display_settings_form'}, :url => { :action => 'save_display_settings', :id => params[:id] },:loading => "Form.disable('display_settings_form');Element.show('display_settings_busy');", :complete => "Form.enable('display_settings_form');Element.hide('display_settings_busy');" } ) %>

				<table class="normal_padded">
				  <tr>
				    <td>Show retired items</td>
				    <td>
				      true: <%= radio_button_tag('show_retired', true, (session['show_retired'] == 'true')) %>
				      false: <%= radio_button_tag('show_retired', false, (session['show_retired'] != 'true')) %>
				    </td>
				  </tr>
				  <tr>
				    <td>Show all fields</td>
				    <td>
				      true: <%= radio_button_tag('show_all_fields', true, (session['show_all_fields'] == 'true')) %>
				      false: <%= radio_button_tag('show_all_fields', false, (session['show_all_fields'] != 'true')) %>
				    </td>
				  </tr>
				  <tr>
				    <td></td>
				    <td id="nopad">
				    <hr />
					    <%= submit_tag('save for this session')%>
							<%= image_tag('progress.gif', :id => 'display_settings_busy', :style => 'display:none') %>
				    </td>
				  </tr>
				</table>
				<%= end_form_tag %>
			</div>
		</div>

<% end %>

<div id="list">
	<%=
	render :partial => "view_list"
	%>
</div>

