		<%= link_to_remote('Click here to change the type of this item', {:url => {:action=>'change_type', :id => params[:id]}, :update => 'type_information_wrapper'}, {:class => 'red_text'})+' <br /> <br />' if session[:user] %>
	

	
<div class="greybox_float">	
<span class="id">type id: <%= @item.kind.id %></span>
	


<table class="attribute_table">

	<%= 
	kind = @item.kind

	render(:partial => 'attribute', :collection => Kind.content_columns.collect{ |column| column.name }, :locals => {:model => kind}) 
	%>
  




	<% unless (!session[:user] and (@item.kind.attachments.count('documentation IS NOT NULL') == 0)) || Settings.documentation_enabled == '0' %>
  <tr>
    <td class="attribute_name">
	    Images:
    </td>
    <td class="attribute_content">
	  <div id="upload_documentation">
	    <%= render :partial=>'upload_controls', :locals => { :attachment_type => 'documentation' } %>
	  </div>
    </td>
  </tr>
	<% end %>
	
	
	

	
	
	
	
	<% unless (!session[:user] and (@item.kind.attachments.count('image IS NOT NULL') == 0)) || Settings.images_enabled == '0'  %>
  <tr>
    <td class="attribute_name">
	    Images:
    </td>
    <td class="attribute_content">
	  <div id="upload_image">
	    <%= render :partial=>'upload_controls', :locals => { :attachment_type => 'image' } %>
	  </div>
    </td>
  </tr>
	<% end %>




</table>

<div style="clear:both;"></div>	
</div>	