
<% content_for('extra_javascripts') do %>
	<%= javascript_include_tag 'check_and_menu' %>
<% end %>



	<div id="header">
		<ul>
<% if session[:user] %>
      <li id="new_item">
        <%= link_to_function('New item', "open_tab('new_item')") %>
      </li>
		  <li>
		    <%= link_to 'clone current item', { :action => 'clone_item', :id => params[:id] }, {:confirm => "Are you  you want to clone item #{@item.id} (#{@item.kind.name})?", :post => true } %> 
		  </li>
		  <% if Settings.allow_item_deletion.to_i == 1 %>
		  <li>
		    <%= link_to 'delete current item', {:action => 'delete_item', :id => params[:id]}, {:confirm => "Are you  you want to delete item #{@item.id} (#{@item.kind.name})?", :post => true } %>
	    </li>
		  <% end %>
<% end %>
		  <li>
		    <%= link_to 'back to old table', { :action => 'back_to_old_table', :id => @item.category.id } %> 
		  </li>
		  <li>
		    <%= link_to 'back to new table', { :action => 'back_to_new_table', :id => @item.category.id } %> 
		  </li>
		</ul>
	</div>
  <%= render :partial => 'new_item_content', :locals => { :cat => @item.category.id } %>	
	
	<br />
	<div style="clear:both;"></div>	
	<br />





<h1 id="title"><%= @item.kind.name.humanize %></h1>
<br />
<div class="greybox_float">
<span class="id">item id: <%= @item.id %></span>

	


<table class="attribute_table">
<%
@separator_shown = Hash.new
@separator_shown['displayed'] = false;
@separator_shown['hidden'] = false;
@separator_shown['unclassified'] = false;
@first_separator = true

%>

<%= render(:partial => 'attribute', :collection => @displayed_cols, :locals => {:model => @item, :section => 'displayed' }) %>

<%= render(:partial => 'attribute', :collection => @hidden_cols, :locals => {:model => @item, :section => 'hidden'}) %>	

<%= render(:partial => 'attribute', :collection => @unclassified_cols, :locals => {:model => @item, :section => 'unclassified'}) %>
 

  <tr>
    <td colspan="2">
      <hr />
    </td>
  </tr>


 <% 
 if Settings.notes_enabled == '1'
	 @notes = @item.notes.find(:all, :order => 'id ASC')
	 unless @notes.empty? and !session[:user] %>
<tr>
  <td class="attribute_name">
	  Notes:
	</td>
	<td>
			<% if @notes.empty? %>
			<span id="notes_launcher">
			<%= link_to_function 'Create a note', "Element.hide('notes_launcher');Element.show('notes');Element.hide('note_creator_launcher');Element.show('note_creator')" %>
		  </span>
		<% end %>
		<div id="notes"<%= ' style="display:none"' if @notes.empty? %>>
		 <%=   render(:partial => 'notes', :object => @notes) %>
		</div>
  </td>
</tr>
	<% end%>
<% end %>

<tr>
  <td class="attribute_name">
	  History:
	</td>
	<td>
<div id="history_launcher">    
  <%= link_to_remote 'open &#8595;', :url => { :action => 'history', :id => params[:id] }, :complete => "Element.hide('history_launcher');Element.show('history_collapser')" %>
</div>      
<div id="history_collapser" style="display:none">   
  <%= link_to_function 'close &#8593;', "close_history()" %>
</div>

<div id="history"></div>
  </td>
</tr>

</table>
<div style="clear:both;"></div>	
</div>
<div style="clear:both;"></div>




<br />
<br />




	<h1>Type</h1>
	<br />	
	
<div id="type_information_wrapper">	

	<%=
	render_component(:action => 'show_type', :id => params[:id])
	%>

<div style="clear:both;"></div>		
 
</div>



