<div class="cssform">
  <%= error_messages_for('feedback', :header => "{count} error(s) prevented this feedback from being sent") if @feedback %><br />
  <%= form_tag %>
  
		<label for="feedback_name">Name <span class="required">*</span></label>
		<%= text_field('feedback', 'name', :size => 20) %><br />
	
		<label for="feedback_email">Email <span class="required">*</span></label>
		<%= text_field('feedback', 'email', :size => 20) %><br />
	
		<label for="feedback_message">Message <span class="required">*</span></label>
		<%= text_area('feedback', 'message', {:rows => 15, :cols => 50}) %><br />
		
		<label for="submit"></label>
	  <%= submit_tag('Send', { :id => 'submit' })%><br />

  <%= end_form_tag %>
</div>