body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
  position:relative;
}

a {
  color:#000;
}

a img {
	border:none;
}

/* the bar that contains the breadcrumbs & the login details */
#topleft {
  position: fixed;
  left: 12em;
  right:0;
  height:1.8em;
  text-align:left;
  background-color:#E6E6E6;
  padding:0 1em;
}

#topleft img, #topright img {
  position:relative;
  top:3px;
}

#topright {
  position: fixed; 
  right:0;
  text-align:right;
  padding:0;
  z-index:3;
  _width:300px; /*only recognized by ie (http://wellstyled.com/css-underscore-hack.html)*/
  background-color:#E6E6E6;
}

#topright form {
  margin:0; 
  background-color:#E6E6E6;
}

/* the left side bar including its search box and menu.*/
#leftbar {
  position:fixed;
  top:0;
  left:0;
  width:12em;
  height:100%;
  background-color:#003062;
  text-align:center;
  color:#FFF;
  padding-top:1em;
  overflow:hidden;
  z-index:4;
}

/* the title in the left bar */
#leftbar span {
  font-size:130%;
  font-weight:bold;
}
#leftbar a {
   color: #FFF;
}
#leftbar a.selected {
   color: #EEC208;
}
#leftbar ul {
  font-weight:bold;
  list-style: none;
  margin:0;
  padding:0 0 0 0.3em;
  text-align: left;
  background-color:#184C83;
  font-size:11px;
}

#leftbar ul a {
  text-decoration: none;
}
#leftbar ul ul a {
  text-decoration: underline;
  font-weight:normal;
}

#leftbar ul ul{
  padding: 0 0 0 1.7em;
}

#leftbar ul li{
  margin:0;
  padding:0;
}

#leftbar input, #topright input {
  border-width:1px;
  padding:0;
  margin:0;
}

#leftbar form {
  margin:1em 0;
}

/* the main page content */
#content {
  position:fixed;
  _height:100%; 
  top:1.8em;
  bottom:0;
  left: 12em;
  right:0;
  padding:1em;
  overflow:auto;

}

#content .imagewrap {
  background-color:#FFF;
  padding:2px;
  float: left;
  margin:0 10px 10px 0;
  border: 1px solid #CDCECD;
}


#upload_documentation, #upload_image {
  background-color:#E6E6E6;
  padding:20px 10px 0 20px;
  float:left;
}



#upload_documentation ul, #upload_image ul {
  padding:1px !important;
}



/*used to display the preferences box*/
#content #headerbox {
  background-color:#E6E6E6;
  float:left;
  margin-bottom:10px;
}

#content #headerbox h2 {
  background-color:#EEC208;
  padding: 4px 10px 6px 10px;
}

#content #headerbox div {
  padding: 10px;
}

#headerbox span 
{
  margin: 0 10px 0 0;
}

#content .notebox .innernotebox {
  padding: 5px;
}


.attribute_table 
{
  float:left;
  width:100%;
}

.attribute_table tr
{
  height:2.7em;
}


.attribute_table .attribute_name 
{
  width:1px; /*force this column to be as thin as possible */
  padding-right:5px;
  font-weight:bold;
}

.attribute_table .attribute_content div.attribute_content_div{
  background:url("../images/edit.png") no-repeat right;
  width:16em;
  min-height:1.8em;
}

.attribute_table td {
  vertical-align: top;
}

/* Input box */
form.inplaceeditor-form input[type="text"] { 
  width:15em;
}

.inplaceeditor-saving { 
  background: url(../images/progress.gif) center no-repeat; 
}

form.inplaceeditor-form textarea { /* Textarea, if multiple columns */
  width:400px;
}

form.inplaceeditor-form input[type="submit"] { /* The submit button */
  margin-left:1em;
}

form.inplaceeditor-form a { /* The cancel link */
  margin-left:1em;
}


.in_place_editor_field 
{
  display:block;
  border-bottom:1px solid black;
 
}


#content #notes
{
  max-width:450px;

}

/* the config controller menu, also used in frontend -> list view */
#content #header ul {
  float:left;
  margin:0;    
  padding:0;
  list-style:none;
}

#content #header li {
  float:left;
}

#content #header a {
  display:block;
  padding:5px 15px 5px 15px;
  text-decoration:none;
  font-weight:bold;
  color:#FFF;
  background-color:#003062;
}

#content #header a:hover {
  color:#E6E6E6;
  background-color:#184C83;
}

#content #header li.current a {
  padding-bottom:5px;
  background-color:#E6E6E6;
  color:#000;
}

#configbox_errors {
  float:left;
  padding-bottom:10px;
}

#content .configbox {
  float:left;
  width:97%;
  padding:1.5%;
  background-color: #E6E6E6;
}

#content .configbox ul{
	list-style: none;
	margin:0;
  padding:0 0 0 20px;
}

#content .configbox table, #content .configbox table th, #content .configbox table td{
  border:none;
  text-align:left;
}

#content .configbox table td.centered,#content .configbox table th.centered{
  text-align:center;
}

#content .configbox FORM {
  display:inline;
}

#content .configbox FORM select {
  width:150px;
}



/*  keeps the pagination helpers on the left and the delete all link on the right in
the reports controller index view

also used to keep config -> log's title and controls properly placed
*/
#content .left
{
  float: left;
}

#content .right
{
  float: right;
}

/* used to display the item or type id in the upper right corner of the appropriate
box in the show view */
.id {
  position:absolute;
  right:10px;
  top:10px;
  background-color:#E6E6E6;
  padding:5px;
  border: 2px solid #BCBCBC;
}

/*used to display the log */
#content .greybox
{
  border: 8px solid #BCBCBC;
  padding: 10px;
  background-color:#FFF;
}

/*used in config and also in frontend->show */
#content .greybox_float
{
  border: 8px solid #BCBCBC;
  padding: 10px;
  background-color:#FFF;
  position:relative;
}

/*used in config->users */
#content #notop .greybox_float
{
  border-top:none;
  background-color:#BCBCBC;
  border-color:#BCBCBC;
  width:500px;
}

/*used in config->users */
#content .greybox_float td
{
  padding: 5px 10px 0 10px;
}
/*used in config->users */
#content .greybox_float td td
{
  padding: 0 10px 10px 0;
  font-weight:normal;
}

/*used in config -> users */
#content #existing_users .greybox_float
{
  width:500px;
}

/*used in config -> users */
#content #existing_users .greybox_float tr.selected
{
  border: 2px solid #BCBCBC;
  font-weight:bold;
}

/*used in config->users*/
#content #new_tab {
  background-color:#BCBCBC;
  padding:0 4px 4px 4px;
  clear:left;
  float:left;
}


/*used to display instructions in config */
#content .configbox .instructions {
  border: 8px solid #184C83;
  border-bottom:none;
  background-color:#FFF;
  padding: 10px;
}

h1,h2,h3 {
  margin: 0;
}

/* common content pane table definition */

#content table
{
  border-collapse: collapse;
} 


#content th.destroy, td.destroy 
{
  text-align: center;
}


/* the notes table that appears on the show page */
.grey_table {
  background-color:#E6E6E6;
  width:30em;
}

.grey_table textarea {
  width:28em;
  margin-bottom:10px;
  margin-top:10px;
}


.grey_table th {
  background-color:#BCBCBC;
  padding:5px;
}

.grey_table td {
  text-align: center;
  padding:5px;
}


/* ligns up the support and new forms properly*/
.cssform label,.cssform input,.cssform textarea{
	display: block;
	float: left;
	margin-bottom: 15px;
}

.cssform textarea {
  width:364px;
}

.cssform label {
	text-align: right;
	width: 100px;
	padding-right: 20px;
}

.upload_form .cssform label {
	text-align: right;
	width: 5em;
	padding-right: 20px;
}

.cssform br {
	clear: left;
}

.cssform .required {
	color:red;
}



 /* rounded grey box */
.rbroundbox { 
  background-color:#E6E6E6;
  margin:0 0 0 1em;
  overflow:hidden;
}

.rbtop div { 
  background:url("../images/tl.gif") no-repeat top left;
}
.rbtop { 
  background-color:blue;
  background:url("../images/tr.gif") no-repeat top right; 
}
.rbbot div {
  background:url("../images/bl.gif") no-repeat bottom left; 
}
.rbbot {
  background:url("../images/br.gif") no-repeat bottom right; 
}


 /* height and width details */
.rbtop div, .rbtop, .rbbot div, .rbbot {
	width: 100%;
	height: 14px;
	font-size: 1px;
}
.rbcontent { 
  margin: 0 14px; 
  text-align:center;
}

.rbcontent td {
  overflow:hidden;
}

#help {
  width:552px;
}

#help  a {
  color:#008920;
}


#content .home_left {
  float:left;
  width:70%;
}

#content .home_right {
  float:left;
  width:30%;
}

#content .home_left h1 {
  border-bottom:1px dotted;
  padding-bottom:5px;
}

#reports_left{
  width:30%;
  float:left;
}

#reports_right{
  width:65%;
  float:left;
  border-left:1px dotted #E6E6E6;
  margin-left:10px;
  padding-left:20px;
}

#bug_report_notification {
  background-color:#c00;
  color:#FFFFFF;
  padding:10px;
  margin-top:30px;
}

#bug_report_notification table {
  color:#FFF;
}


#bug_report_notification a{
  color:#FFF;
}

#bug_report_notification td{
  padding:10px;
}

/* used in show view under type heading */
.red_text {
  color:#c00;
}



/*table used in config -> setup*/
.normal_padded td{
  padding: 10px;
}
.normal_padded td#nopad{
  padding: 0;
}


/*table used in config -> log */
table.log td, table.log th{
  padding:1px 10px;
  border:1px solid #BCBCBC;
}
table.log th {
  text-align:center;
}
table.log td.noborder, table.log th.noborder{
  border:none
}

#content #login {
  border: 8px solid #BCBCBC;
  padding: 10px;
  margin: auto;
  background-color: #E6E6E6;
  width:24em;
}

#content #login_prompt, #content #login_error {
  padding:2px;
  margin-bottom:10px;

}

#content #login_prompt {
  background-color:#E6FAE6;
  border:1px solid #006500;
  color:#006500;
}

#content #login_error {
  background-color:#c00;
  border:1px solid #BCBCBC;
  color:#FFF;
}
#content #login table td {
  padding:3px;
}

table.vertical_center {
	width: 99%;
	height: 100%;
}

table.vertical_center td {
	vertical-align: middle;
	padding-bottom:200px;
}

/* prevents the login form from overflowing out of the top bar */
form {
margin:0;
}

#history {
  margin-top:10px;
}


#type_information_wrapper {
  margin-bottom:100px;
}


#footer {
  font-size: 10px;
}

