table.log {
  width:100%;
  clear:both;
  margin-top:20px;
}

table.log th{
  background-color:#E6E6E6;
}

table.log tr.retired
{
	background-color:#FFEBEB;
}

.table_menu {
  float:left;
	width: 100%;
  position:relative;  
}

.table_menu_right {
  float:right;
  height:10px;
}
.table_menu #table_menu_bottom_left {
  float:left;
}

.table_menu #table_menu_bottom_left div{
  float:left;
  padding:10px;
  background-color:#E6E6E6;
}

.table_menu #table_menu_bottom_left div div{
  float:left;
  clear:both;
  margin:0;
  padding:7px;
}

.table_menu #table_menu_bottom_left div div input{
  padding:0;
}

#configbox h2 {
  font-size:12pt;
  margin-bottom:10px;
}

/* for the data field drag and drop */
div.section_wrapper {
  float:left;
  width:15em;
  margin-right:1em;
}
	
div.section{
	border: 1px solid #003062;
	background-color: #EFEFEF;
	min-height:2.5em;
	margin-bottom:1em;
}


div.section_header {
  font-weight:bold;
}


div.field {
  cursor: move;
  margin:0.25em;
  padding:0.25em;
  height:1.5em;
  background-color:#184C83;
  color:#FFF;
}

