/* the left side bar including its search box and menu.*/
#header, #leftbar, #topleft, #topright, .table_menu{
  display:none !important;
}

#content {
  position:static;
  top:0;
  left:0;
  right:0;
  padding:10px;
  overflow:visible;
}

#list {
  float: none !important;
}