
  <tr>
    <td><%= link_to (backup_file, {:action => :stream_backup_file, :id => backup_file}) %></td>
    <td><%= " (#{ human_size(File.size(Backup.backups_dir + backup_file))})" %></td>
    <td><%= link_to ('restore', {:action => :restore_backup, :id => backup_file}, :confirm => "Are you sure you want to restore backup #{backup_file} ?") %>
  </tr>
