<div id="error_hider" style="display:none">
<%=
  header = String.new
  header = "This category could not be created" if ajax_action == 'new'
  header = "'#{category}' could not be updated" if ajax_action == 'edit'
	error_messages_for('category', :header => header) 
%>
</div>