<div id="error_hider" style="display:none">
<%=
	error_messages_for('category', :header => 'Error', :sub_header => 'Category could not be deleted for the following reason', :attr_names => {'base' =>''}) 
%>
</div>