   <tr>
    <td>
<% if field == params['field_to_edit'] %>
  
	<%= form_remote_tag(:url => {:action => 'ajax_fields', :update_field => field, :table => table}, :update => 'view_fields_'+table) %>
	<%= text_field_tag('value', field) %>
	 &nbsp; 
	<%= submit_tag('update', :id=> 'submit')%> 
	<%= end_form_tag %>
  
<% else %>
	<%=field%>
	<%= 
	link_to_remote(image_tag('edit.png'), {:update => 'view_fields_'+table.to_s, :url => { :action => :view_fields, :field_to_edit => field, :table => table}}) 
	%>
<% end %>
    </td>
    <td> 
<%=

if table == 'items'
  condition = "`#{field}` IS NOT NULL"
  count = Item.count(condition)
else
  @items = Item.find(:all, :include => 'kind', :conditions => "kinds.#{field} IS NOT NULL")
  count = @items.size
end

%>
<%= 
if params['show_items_using_field'] == field 
    output = link_to_remote(image_tag('minus.png'), {:update => 'view_fields_'+table, :url => { :action => :view_fields, :table => table}}) 
    
    if params['table'] == 'items'
      @items = Item.find(:all, :conditions => condition)
    end
      @items.each{|item| output += ("<br />" + item_breadcrumb(item) + "\n") }
    output
else
	if count > 0
		link_to_remote(image_tag('plus.png'), {:update => 'view_fields_'+table, :url => { :action => :view_fields, :show_items_using_field => field, :table => table}}) 
	end
end
%>
    </td>
    
    <td class="destroy">
<% 
if count == 0
%>   
<%=
  link_to_remote('delete', {:update => 'view_fields_'+table, :url => { :action => :ajax_fields, :delete_field => field, :table => table}, :confirm => "Are you sure you want to delete #{field}?"}) 
%>
<%
end
%>
    </td>
   </tr>