<%
unless status_option == nil
%>
<tr id="<%= status_option %>">
<td>
<%= status_option %>
</td>
<td>
<%= link_to_remote(image_tag('destroy'), { :url => { :action => 'status_options', :do => 'delete', :option => status_option }, :confirm => "Are you sure you want to delete \"#{status_option}\"?" }) %>
</td>
</tr>
<%
end
%>
