
<h1><%= (table).humanize  %> fields</h1>


<%= form_remote_tag(:url => {:action => 'ajax_fields', :table => table}, :update => 'view_fields_'+table, :loading => "Element.show('busy_#{table}');Element.hide('submit');", :complete => "Element.hide('busy_#{table}');Element.show('submit');") %>
<br />New Field: <%= text_field_tag('new_field') %><%= submit_tag('create', :id=> 'submit')%><%= image_tag('progress.gif', :id => 'busy_'+table, :style => 'display:none') %>
<%= end_form_tag %>
<br /> <br />
<div id="view_fields_<%= table %>">
<%= render_component :action => "view_fields", :params => {'table' => table} %>
</div>
