<% if !flash[:backup_error] %>
	<% if @stats[2] %>
	Last backup <font color="red"><%= time_ago_in_words(@stats[2]) %></font> ago. 
	<br />
	
	
	There are <%= @stats[1] %> backup files taking up <%= human_size(@stats[0]) %> on the disk.
	<br />
	<% end %>
	<%= link_to 'Create new backup', :action => :new_backup %>
	<br /> <br />
	<h1>Existing Backups</h1>
	<br />
	
	<div class="greybox_float">
	<table>
	<tr>
	<th class="sortable">Compressed archive</th>
	<th class="sortable">
	Size
	</th>
	<th>
	Restore
	</th>
	</tr>
	<%= render :partial => "backup_file", :collection => @backup_files %>
	</table>
	<%= pagination_links(@backup_files_pages) %>
  
	<div style="clear:both;"></div>
	<br /> 
<% else %>
  <% if flash[:backup_error] %>
      <div id="notice"><%= flash[:backup_error] %></div>
      <div style="clear:both;">
  <% end %>
<% end %>

<h1>Setup</h1>
<br />


Backup storage location:
<%= form_tag(:action => :change_backup_storage_location) + text_field_tag('backup_storage_location', @backup_storage_location) + submit_tag("update") + end_form_tag %>

<br /> <br />

Automatic backup interval:
<%= dropdown('backup_interval', %W{hourly daily weekly monthly}, @backup_interval) %>

<br /> <br />

The following must be placed in your crontab for automatic backups to function:
Note: may be different for SSL servers.
<br />
#ping the inventory system every 60 seconds
<br />
0-59 * * * * root wget --spider <%= request.host_with_port + url_for(:action => :trigger) %>
