<div class="instructions">
A category can only be deleted if it does not contain any items or subcategories.
<br />
Legend: (#of items in category, #of subcategories in category)
<br />
Click on a category to edit it.
</div>

<div class="greybox" id="greybox">
<%= render_component :action => "view_categories" %>
</div>