Note: A field may only be deleted if no item is using it. Field names must be lower case with underscores (_) instead of spaces.

<br /> <br />

<%= render(:partial => 'table_field_manager', :locals => { :table => 'items' }) %>



<%= render(:partial => 'table_field_manager', :locals => { :table => 'kinds' }) %>



<br />


<h1>Status options</h1> 
<br />

<div class="greybox">

<div id="status_options_error"></div>

<%= form_remote_tag( { :url => { :action => 'status_options', :do => 'create' } }) %>
<%= text_field_tag('option', nil, {:size => 10}) %>
<%= submit_tag 'create'%>
<%= end_form_tag %>

<table id="status_options_table">

<%= render :partial => 'status_option', :collection => @status_options %>

</table>
<br />


special values:
retired - will enable 'show retired / hide retired' functionality in the list view


</div>