
<span class="left"><h1>Access log</h1></span>
<span class="right">

<%= form_tag %>
Display: &nbsp; 
<%= 
options = options_for_select([10,100,1000,10000].collect{ |x| [x,x.to_s] }, Settings.number_of_log_items_to_display.to_s)
select_tag("number_of_log_items_to_display",options,{ :id => 'number_of_log_items_to_display', :onchange => 'this.form.submit();' }) 
%>
<%= end_form_tag %>

</span>

<div style="clear:both;"></div>
<br />
<div class="greybox">


<table class="log">
	<tr>
		<th class="noborder">time</th>
		<th>user</th>
		<th>ip</th>
		<th>action</th>
  </tr>
<% unless !@log_entries %>
<%= render :partial => 'log_entry', :collection => @log_entries %>
<% end %>
</table>


</div>
<div style="clear:both;"></div>
<br />
<span class="right"><%= pagination_links(@log_entry_pages) %></span>
