<%= form_tag %>
<div class="greybox_float">
<table class="normal_padded">
  <tr>
    <td>Navigation bar title</td>
    <td>
      <%= text_field_tag 'navbar_title', Settings.navbar_title %>
    </td>
  </tr>
  <tr>
    <td>Home page title</td>
    <td>
      <%= text_field_tag 'home_title', Settings.home_title %>
    </td>
  </tr>
  <tr>
    <td>Support email address</td>
    <td>
      <%= text_field_tag 'email_address', Settings.email_address %>
    </td>
  </tr>
  <tr>
    <td>CC email address</td>
    <td>
      <%= text_field_tag 'email_cc', Settings.email_cc %>
    </td>
  </tr>
  <tr>
    <td>Allow item deletion</td>
    <td>
      true: <%= radio_button_tag('allow_item_deletion', "1", (Settings.allow_item_deletion.to_i == 1)) %>
      false: <%= radio_button_tag('allow_item_deletion', "0", (Settings.allow_item_deletion.to_i == 0)) %>
    </td>
  </tr>
  <tr>
    <td>Allow note deletion</td>
    <td>
      true: <%= radio_button_tag('allow_note_deletion', "1", (Settings.allow_note_deletion.to_i == 1)) %>
      false: <%= radio_button_tag('allow_note_deletion', "0", (Settings.allow_note_deletion.to_i == 0)) %>
    </td>
  </tr>
  <tr>
    <td>Allow pagination</td>
    <td>
      true: <%= radio_button_tag('allow_pagination', "1", (Settings.allow_pagination.to_i == 1)) %>
      false: <%= radio_button_tag('allow_pagination', "0", (Settings.allow_pagination.to_i == 0)) %>
    </td>
  </tr>


  <tr>
    <td>Item history</td>
    <td>
      enabled: <%= radio_button_tag('history_enabled', "1", (Settings.history_enabled.to_i == 1)) %>
      disabled: <%= radio_button_tag('history_enabled', "0", (Settings.history_enabled.to_i == 0)) %>
    </td>
  </tr>
  <tr>
    <td>Item notes</td>
    <td>
      enabled: <%= radio_button_tag('notes_enabled', "1", (Settings.notes_enabled.to_i == 1)) %>
      disabled: <%= radio_button_tag('notes_enabled', "0", (Settings.notes_enabled.to_i == 0)) %>
    </td>
  </tr>
  



  <tr>
    <td>Documentation attachments</td>
    <td>
      enabled: <%= radio_button_tag('documentation_enabled', "1", (Settings.documentation_enabled.to_i == 1)) %>
      disabled: <%= radio_button_tag('documentation_enabled', "0", (Settings.documentation_enabled.to_i == 0)) %>
    </td>
  </tr>
  <tr>
    <td>Images attachments</td>
    <td>
      enabled: <%= radio_button_tag('images_enabled', "1", (Settings.images_enabled.to_i == 1)) %>
      disabled: <%= radio_button_tag('images_enabled', "0", (Settings.images_enabled.to_i == 0)) %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td id="nopad">
    <hr />

      <%= submit_tag %>
    </td>
  </tr>
</table>
</div>
<%= end_form_tag %>