<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
  <div style="clear:both;">
<% end %>


<div id="new_error">

</div>

New Category: 
<%= 
@category = Category.new
category_edit_form('new')  
%>

<br><br>

<div id="edit_error">
 
</div>

<%=
if flash[:category_object_with_errors]
	@category = flash[:category_object_with_errors]
	error_messages_for('category') 
end 
%>


<%= 
category_iterator(Category.root, {}) do |id_of_cat, name_of_cat, in_top_level, has_children, ancestors_of_open_category_ids| 
    categ = Category.find(id_of_cat)
    num_items = categ.items.count
    num_subcategories = categ.children.count
    stats =  ' (' + num_items.to_s + ', ' + num_subcategories.to_s + ') '
    num = num_items + num_subcategories
    prefix = link_to_remote(name_of_cat.capitalize, {:url => { :action => 'view_categories', :id => id_of_cat}, :update => 'greybox' }) + stats
    if @category and @category.id.to_s == id_of_cat.to_s
      destroy_suffix = String.new
      destroy_suffix = link_to_remote(image_tag('destroy.png'), { :update => {:failure => 'greybox'}, :success => visual_effect(:BlindUp, "placeholder_#{id_of_cat}"), :failure => "alert('#{name_of_cat} cannot be deleted because it is not empty.');", :complete =>  remote_function(:update => 'rendered_tree', :url => {:controller => 'application', :action => 'menu'}), :url => { :action => 'affect_category_ajax', :ajax_action => 'delete', :id => id_of_cat }, :confirm => "Are you sure you want to delete #{name_of_cat}?" } ) if num == 0
      "<div id=\"placeholder_#{id_of_cat}\"" + prefix + category_edit_form('edit') + ' ' + destroy_suffix + '</div>'
    else
      prefix
    end
end
%>

<br />


