<% if flash[:notice] %>
	<div id="notice"><%= flash[:notice] %></div>
	<div style="clear:both;">
<% end %>



<div class="greybox">
<table class="generique style-alternative">
<tr>
<th>Field name</th>
<th>Items using this field</th>
<th>
Action
</th>
</tr>


<%= 

render :partial => "field", :collection => @columns, :locals => { :table => params['table'] }

%>
</table>
</div>


<br /> 


