<div class="cssform">
	<%= error_messages_for('user', :header => "{count} error(s) prevented this password from being changed") %>
	<%= form_tag %>
	
		<label for="old_password">Old password <span class="required">*</span></label>
		<%= password_field "user", 'old_password', :size => 15  %><br/>
		<label for="new_password">New password <span class="required">*</span></label>
		<%= password_field "user", "password", :size => 15 %><br/>
		<label for="new_password_confirmation">Confirm new password <span class="required">*</span></label>
		<%= password_field "user", "password_confirmation", :size => 15 %><br/>
		
		<label for="submit"></label>
		<%= submit_tag 'change' %><br />
	
	<%= end_form_tag %>
</div>