<%= render_component :controller => 'account', :action => 'existing_users' %>
<div style="clear:both;"></div>


<%= render_component :controller => 'account', :action => 'new_user' %>
<div id="new_tab">
<span id="new_tab_down">
<%= 
link_to_function 'New user &#8595;', visual_effect('BlindDown', 'notop')+"Element.toggle('new_tab_down');Element.toggle('new_tab_up');" 
%>
</span>
<span id="new_tab_up" style="display:none">
<%= 
link_to_function 'New user &#8593;', visual_effect('BlindUp', 'notop')+"Element.toggle('new_tab_down');Element.toggle('new_tab_up');" 
%>
</span>
</div>
