<div id="existing_users">



	
	<div class="greybox_float">
	
	<table width="100%">

	  <% 
	  for @user in @users 
	  %>
	  
	  <tr<%= ' class="selected"' if (params['user_to_edit'] == @user.id.to_s) %>>
	    <td>
			<%= @user.user_name  %> 
			<% if params['user_to_edit'] == @user.id.to_s
			unless params[:commit] == 'Update'
			  @user.password = nil
  	    @user.password_confirmation = nil
			end
      %>

<%= 
if params[:user_to_edit]
  @users.each{ |user| @user = user if user.id == params[:user_to_edit].to_i }
  '<br /> <br />' + error_messages_for('user').to_s unless @user.errors.empty?
end
%>
<% if flash[:existing_users_notice] %>
  <br /> <br />
  <div id="notice"><%= flash[:existing_users_notice] %></div>
  <div style="clear:both;">
<% end %>
			  <%= form_tag %>
				
				<table>
				<tr>
				<td colspan="2">
        
        </td>
        </tr>
        <tr>
				<td>
				New password: 
				</td>
				<td>
				<%= password_field("user", "password", {:size => 10} ) %>
				</td>
				</tr>
				<tr>
				<td>
				Confirm: 
				</td>
				<td>
				<%= password_field("user", "password_confirmation", {:size => 10}) %> 
				</td>
				
				</tr>
				<tr>
				<td colspan="2">
        <hr />
				<%= submit_to_remote('Update', 'Update', {:url => {:action => :existing_users, :user_to_edit => @user.id, :commit => 'update'}, :update => 'existing_users'}) %>
				<%= submit_to_remote('Delete', 'Delete', {:url => {:action => :existing_users, :user_to_edit => @user.id, :commit => 'delete'}, :update => 'existing_users', :confirm => "Are you sure you want to delete user '#{@user.user_name}'?" }) unless (@user.user_name == 'root' || @user.id == session[:user].id) %> 
				<%= submit_to_remote('Close', 'Close', {:url => {:action => :existing_users, :user_to_edit => @user.id, :commit => 'close'}, :update => 'existing_users' }) %> 

				
			  </td>
			  </tr>
			  </table>
			  
			  <%= end_form_tag %>
			<% end %>
			
			</td>
			<td style="text-align:right;">
			<% 
			unless params['user_to_edit'] == @user.id.to_s 
			%>
				<%= link_to_remote('Edit',{ :url => {:action => :existing_users, :user_to_edit => @user.id}, :update => 'existing_users' })%> 
				<% end %>
			</td>
	  </tr>
		<% end %>
	</table>
	<br />
	</div>
</div>