<table class="vertical_center">
	<tr>
		<td>
			


<div id="login">
	<%
	if flash[:login_error] 
	  css = 'login_error' 
	  img = 'warning'
	else
	  css = 'login_prompt' 
	  img = 'okay'
	end
	%>
	<div id="<%= css %>">
		<table>
		<tr>
		<td>
		<%= image_tag img %> 
		</td>
		<td>
		<%= flash[:login_error] %>
		<%= flash[:login_prompt] %>
		</td>
		</tr>
		</table>
	</div>
	
	<%= form_tag :controller => 'account', :action => 'login', :root_required => params['root_required'] %>
		<table>
		<% if session[:user] and params[:root_required] %>
			<tr>
			<td>
				Root password: &nbsp;  
			</td>
			<td>
			  <%= password_field_tag('root_password', params[:root_password], {:size => 15}) %>

			</td>
			</tr>
		<% else%>
			<tr>
			<td>
				Username: &nbsp;  
			</td>
			<td>  
			  <%= text_field('user','user_name', {:size => 15}) %>
			</td>
			</tr>
			<tr>
			<td>
				Password: &nbsp;  
			</td>
			<td>
			  <%= password_field('user','password', {:size => 15}) %>
			</td>
			</tr>
		<% end %>
		<tr>
		<td>
		</td>
		<td>
		  <%= submit_tag("Login", { :id => 'submit' }) %>
		</td>
		</tr>
		</table>
	<%= end_form_tag %>
</div>


			
		</td>
	</tr>
</table>