<div id="notop"<%= ' style="display:none"' unless request.xhr? %>>
<div class="greybox_float">
<div id="new_user">

<%= error_messages_for('user') %>

<% if flash[:new_user_notice] %>
  <div id="notice"><%= flash[:new_user_notice] %></div>
  <div style="clear:both;">
<% end %>
	


<%= form_tag %>	
<label for="user_user_name">Username:</label><br/>
<%= text_field "user", "user_name", :size => 10 %><br/>
<label for="user_password">Password:</label><br/>
<%= password_field "user", "password", :size => 10 %><br/>
<label for="user_password">Confirm password:</label><br/>
<%= password_field "user", "password_confirmation", :size => 10 %><br/>
<br/>

<%= submit_to_remote 'create', 'create', {:url => {:action => :new_user, :commit => 'create'}, :update => 'notop', :success => remote_function(:update => 'existing_users', :url => {:controller => 'account', :action => 'existing_users'})} %>
<%= end_form_tag %>

</div>
</div>
</div>