<% content_for("page_scripts") do %>
window.onload=function(){
    <%= visual_effect(:Highlight, "hider", :endcolor => "'#E6E6E6'") %>;
}
<% end %>



<h1>
Please login<% if params['root_required'] == 'true' -%> as root<% end -%>.
</h1>

<div id="login_arrow">
<%= image_tag('arrow.gif') %>
</div>