<%= 
category = Category.find(:first, :conditions => 'parent_id is NULL')
session[:open_cat] = category.id if category and !Category.exists?(session[:open_cat])
category_iterator(Category.root, {:open_category =>  session[:open_cat].to_i}) do |id_of_cat, name_of_cat, in_top_level, has_children, ancestors_of_open_category_ids| 
    name_of_cat = in_top_level ? name_of_cat : name_of_cat.capitalize
        if has_children
          prefix = image_tag("closed.gif") + ' '
          prefix = image_tag("open.gif") + ' ' if ancestors_of_open_category_ids and ancestors_of_open_category_ids.include?(id_of_cat)
        end
        prefix.to_s + link_to_unless_current_action_and_id(name_of_cat , {:controller => 'frontend', :action => 'list', :id =>id_of_cat})
    end
%>