	<tr>
		<td>
		<%= File.basename(script, '.rb').humanize %>
		</td>
		<td class="destroy">
		<%= 
    checked = script_counter == 0 ? true : false
		radio_button_tag('script', script, checked)
		%>
		</td>
	</tr>
	