
<% 
if nil
#content_for("page_scripts") do 
-%>
function report_generated() {

Element.hide('busy');
$('form-submit-button').disabled = false;

}
function generating_report() {
$('form-submit-button').disabled = true;
Element.show('busy');
}
<% end -%>






<div id="reports_left">
<div class="rbroundbox" id="welcome">
	<div class="rbtop">
		<div></div>
	</div>
  <div class="rbcontent">
    <h2>Report generators</h2>

<br />
	 <%= 
	 
	 #form_remote_tag(:url => {:action => 'generate'}, :update => 'reports', :loading => 'generating_report()', :complete => 'report_generated()') 
	form_tag(:action => 'generate', :loading => 'generating_report()', :complete => 'report_generated()') 
	 
	 %>
<table align="center">
<%= render(:partial => 'script', :collection => @scripts) %>
</table>
<br />

<% check_box_tag('format[html]') %>
<% check_box_tag('format[simple_table_pdf]') %>
<% check_box_tag('format[csv]') %>


<%= submit_tag('html', :id => 'form-submit-button') %>

<%= submit_tag('csv', :id => 'form-submit-button') %>

<% submit_tag('pdf', :id => 'form-submit-button') %>
<%= 
#image_tag('progress.gif', :id => 'busy', :style => 'display:none') 
%>
<%= end_form_tag %>
    
  </div>
	<div class="rbbot">
	  <div></div>
	</div>
</div>
</div>

<div id="reports_right">
<p>
Only click on 'html' or 'csv' once. 
</p>
<p>
The system may take a few moments to generate your report.
</p>

<p>
New generators can be created by following the examples in script/report_generators.
</p>

<p>
Reports generated to date: <%= @reports_generated %>
</p>
</div>





















<%= 
#render_component :action => "view_reports" 
%>

