<div class="dottedlinebox">
<h2>Reports</h2>
<table class="generique style-alternative">
	<tr>
		<th>
		Generator
		</th>
		<th>
    Date
		</th>
	</tr>

<%= render(:partial => 'report', :collection => @reports) %>

</table>
<br />

<span class="left">
<% if @number_of_reports > 10 %>
Page: <%= pagination_links_remote(@report_pages, {:update => 'reports', :params => {:action => :view_reports}})  %>
<% end %>
</span>

<span class="right">
<% if @number_of_reports > 0 and session[:user] %>
<%= link_to_remote 'delete all', :update => 'reports', :url => { :action => :delete_all} %>
<% end %>
</span>

<% if flash[:notice] %>
<br /> <br >
<%= flash[:notice] %> 
<% end %>



</div>