<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <!-- <meta charset="utf-8"> -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

     <title>
        <%= Settings.navbar_title %> &#187;
        <%=
        arr = title_array
        generate_title(arr,false)
        %>
      </title>

        <%= stylesheet_link_tag 'offcanvas', :media => 'all' %>

      

      
        <!-- stylesheets -->
  <%= stylesheet_link_tag 'scaffold', 'design', :media => 'all' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  
  <% if @content_for_extra_stylesheets %>
  <%= @content_for_extra_stylesheets %>
  <% end %>

  <%=
    javascript_include_tag :defaults
  -%>

  <% if @content_for_extra_javascripts %>
    <%= @content_for_extra_javascripts %>
  <% end %>
  <% if @content_for_page_scripts %>

  <script type="text/javascript">
  <%= @content_for_page_scripts %>
  </script>

  <% end %>
  <%= auto_discovery_link_tag(type= :rss, {:controller => 'frontend', :action => 'rss'}) %>

<style>
        body {
          margin: 0;
        }

        #topleft {
  position: fixed;
   left: 0 !important; 
   right: 0 !important;
}

    #text {
      border-radius: 15px; 
      -moz-border-radius: 15px; 
      -webkit-border-radius: 15px; 
      padding: 6px 15px 6px 30px;
      margin: 3px; 
      width: 200px;
        
    }

    #maintitle {
      font-size: 20pt !important;
      margin: 15px;
      color: white;
    }

    #content {
    left: 0;
    /*width: 80%;*/
    top: 80px;
    position:absolute;
    }

    #user_user_name, #user_password {
      border-radius: 15px; 
      -moz-border-radius: 15px; 
      -webkit-border-radius: 15px; 
      padding: 6px 15px 6px 30px;
      width: 50px;
    }

    a {
    /*font-weight: 600;*/
    }

    .menuBtn {
      width: 55px;
      height: auto;
      position: relative;
      top: -3px;
    }

    .home_left h1 {
      line-height: 23px;
    }

</style>
 
    
  </head>
  <body>

    <a href="#toggle-canvas" class="toggle-canvas menustuff">
    <%= image_tag 'menu.png', :class => 'menuBtn' %>
    </a>
    <main>
      <div class="ContainThis">
       




        <div id="topleft"><%= image_tag 'world' %>
          <%=
          generate_title(arr,true)
          %>
        </div>

        <div id="topright">

          <% session[:redirect_where_after_login] = request.parameters unless params[:controller] == 'account' and params[:action] == 'login' %>
          <% if session[:user] %>

          <%=
          if session[:user].has_root == true
            link_to image_tag('has_root',{:alt => 'Relinquish root privileges.'}), :controller => 'account', :action => 'relinquish_root', :referring_controller => params[:controller]
          elsif session[:user].user_name == 'root'
            image_tag 'has_root', {:alt => 'Logged in as root.'}
          else
            link_to image_tag('logged_in', {:alt => 'Acquire root privileges.'}), :controller => 'account', :action => 'login', :root_required => true
          end
          %>
          <%= session[:user].user_name %> is logged in
           - <%= link_to 'change password', :controller => 'account', :action => 'change_password' %>
           - <%= link_to 'log  out', :controller => 'account', :action => 'logout', :referring_controller => params[:controller] %>
          <% elsif params[:controller] != 'account' and params[:action] != 'login' %>
          
          <%
          @user = User.new unless @user
          %>

          <%= form_tag :controller => 'account', :action => 'login' %>
            Username
            <%=
            text_field('user','user_name', {:size =>6})
            %>
            Password
            <%= password_field('user','password', {:size => 6}) %>
            <%= submit_tag("Login", { :id => 'submit' }) %>
            <br />
          <%= end_form_tag %>
          <% end %>
        </div>



<div id="content">
  <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
      <div style="clear:both;"></div>
  <% end %>
  
  <%= @content_for_layout %>

<div style="clear:both;"></div>

<br />
<br />

</div>

      </div>
    </main>


    <offcanvas>
      <h1 id="maintitle"><%= Settings.navbar_title %></h1>
    <%= form_tag({:controller => 'frontend', :action => 'search'}, :method => 'get') %>
    <%= text_field_tag(:text, nil, { :size => 10 }) -%>
         <%= image_submit_tag('search.gif') %>
    <%= end_form_tag -%>
      <!-- top part of menu -->
<!-- all hardcoded -->
<ul>
    <li>
      <%= link_to_unless_current_controller_and_action('Home', {:controller => 'frontend', :action => 'index'}) %>
    </li>
    <li>
      <%= link_to_unless_current_controller_and_action('Reports', {:controller => 'reports', :action => 'index'}) %>
    </li>
    <li>
      <%= link_to_unless_current_controller_and_action('Help', { :controller => 'help', :action => 'index' } ) %>
    </li>
    <li>
      <%= link_to_unless_current_controller_and_action('Feedback', { :controller => 'frontend', :action => 'support' } ) %>
    </li>
    <li>
      <%= link_to_unless_current_controller_and_action('Import/Export', { :controller => 'frontend', :action => 'import' } ) %>
<%#   <a href="https://daq03.triumf.ca/~bcitinv/public/index.php">Import/Export2</a>     %>
    </li>
    <li>
      <%= link_to_unless_current_controller_and_action('Configuration', { :controller => 'config', :action => 'index' } ) %>
    </li>
    <li>
      <a href="MobileApps.pdf">Mobile Scanner App Guide</a>
    </li>
    <li>
      <%= link_to_unless_current_controller_and_action('New table editor', { :controller => 'frontend', :action => 'newtable' } ) %>
    </li>
</ul>

<br />


<%
  if (params[:controller] != 'frontend' || params[:controller] != 'reports' || params[:controller] != 'help' || params[:controller] != 'config')
  # if (params[:controller] != 'frontend' || (params[:action] != 'list' and params[:action] != 'show'))
    not_browsing_categories = false
%>

<div id="rendered_tree">
  <%=
    render_component :controller => 'application', :action => 'menu', :params => { 'current_id' => params['id'], 'current_action' => params['action'], 'current_controller' => params['controller'] }
  %>
</div>

<% end %>
    </offcanvas>

    <%=
          javascript_include_tag "jquery", "data-turbolinks-track" => true
      -%>

      <%=
          javascript_include_tag "offcanvas", "data-turbolinks-track" => true
      -%>
      <script>
    $( document ).ready(function() {
       $('offcanvas').offcanvas({
             canvas: ['main','.toggle-canvas']
          });


          // if ($(window).width() > 750){  
          //     $('offcanvas').offcanvas('open');
          //     $( ".menustuff" ).css("left","-100000000000px");
          //     $( 'offcanvas ul > li > a' ).css("font-size","");
          //     $( 'offcanvas ul > li > a' ).css(
          //      "line-height","");
          // };
          // if ($(window).width() < 750){  
          //     $('offcanvas').offcanvas('close');
          //     $( ".menustuff" ).css("left","");

          //     $( 'offcanvas ul > li > a' ).css(
          //      "font-size","25px");

          //     $( 'offcanvas ul > li > a' ).css(
          //      "line-height","30px");
          // };


          //  $(window).resize(function(){
          //     if ($(window).width() > 750){  
          //       $('offcanvas').offcanvas('open');
          //       $( ".menustuff" ).css("left","-100000000000px");
          //     };
          //     if ($(window).width() < 750){  
          //       $('offcanvas').offcanvas('close');
          //       $( ".menustuff" ).css("left","");
          //       $( 'offcanvas ul > li > a' ).css("font-size","");
          //     };
          //   });
    });
      </script>
  </body>
</html>
