<% inside_layout 'application' do %>
<div id="header">
	<ul>
	  <li<% if params[:action] == 'backup' %> class="current"<% end %>><%= link_to 'Backup', :controller => 'config', :action => 'backup' %></li>
	  <li<% if params[:action] == 'config' %> class="current"<% end %>><%= link_to 'Users', :controller => 'account', :action => 'config' %></li>
	  <li<% if params[:action] == 'categories' || params[:action] == 'destroy_category' %> class="current"<% end %>><%= link_to 'Categories', :controller => 'config',  :action => 'categories', :id => nil %></li>
	  <li<% if params[:action] == 'fields' %> class="current"<% end %>><%= link_to 'Data fields', :controller => 'config',  :action => 'fields' %></li>
	  <li<% if params[:action] == 'log' %> class="current"<% end %>><%= link_to 'Log', :controller => 'config',  :action => 'log' %></li>
	  <li<% if params[:action] == 'setup' %> class="current"<% end %>><%= link_to 'Setup', :controller => 'config',  :action => 'setup' %></li>	  
	</ul>
</div>
<br />
<div class="configbox">

<%= @content_for_layout %>

</div>
<% end %>