<% inside_layout 'application' do %>

	<div id="help_nav">
	
	<ul>
		<li>
	    User guides
		</li>
	
	  <li>
		  <ul>
			  <li>
			  <%= link_to_unless_current 'Browsing', :action => 'browsing' %>
			  </li>
			  <li>
			  <%= link_to_unless_current 'Items vs types', :action => 'items_vs_types' %>
			  </li>

			  <li>
			  <%= link_to_unless_current 'Logging in', :action => 'logging_in' %>  
			  </li>
			  <li>
			  <%= link_to_unless_current 'Adding items', :action => 'adding_items' %>  
			  </li>
			  <li>
			  <%= link_to_unless_current 'Editing items', :action => 'editing_items' %>  
			  </li>
			  <li>
			  <%= link_to_unless_current 'Editing types', :action => 'editing_types' %>  
			  </li>			  
			  <li>
			  <%= link_to_unless_current 'Moving items', :action => 'moving_items' %>
			  </li>
			  <li>
			  <%= link_to_unless_current 'Data field sel.', :action => 'data_field_selection' %>
			  </li>
			  <li>
			  <%= link_to_unless_current 'Searching', :action => 'searching' %>
			  </li>
			  <li>
			  <%= link_to_unless_current 'Reports', :action => 'reports' %>
			  </li>
			  
		  </ul>
	  </li>
	  
	
	
	
	
		<li>
	    	Admin guides
		</li>
	
	  <li>
		  <ul>
			  <li>
			  <%= link_to_unless_current 'Report gens.', :action => 'report_generators' %>
			  </li>
			  <li>
			  <%= link_to_unless_current 'Backups', :action => 'backups' %>
			  </li>
			  <li>
			  <%= link_to_unless_current 'Users', :action => 'users' %>  
			  </li>
			  <li>
			  <%= link_to_unless_current 'Categories', :action => 'categories' %>  
			  </li>
			  <li>
			  <%= link_to_unless_current 'Data fields', :action => 'data_fields' %>  
			  </li>
			  <li>
			  <%= link_to_unless_current 'Logs', :action => 'logs' %>
			  </li>
		  </ul>
	  </li>
	</ul>
	
	</div>
	
	<div id="help_content">
	<h1><%= params['action'].humanize %></h1>
	  <%= @content_for_layout %>
	</div>

<% end %>